@using System.Globalization
@using eShopSolution.ViewModels.Catalog.Products
@model List<ProductViewModel>

@await Component.InvokeAsync("Slider")

<div class="ttvcmstab-title-product container-fluid">
    <div class="ttvtab-product-wrapper container">
        <div class="ttvtab-product-all-box">
            <div class="ttvtab-product-branner">
                <div class="ttvtab-product-all-pagination ">
                    <div class="ttvall-block-box-shadows">
                        <div class="ttvtab-product">
                            <div class="ttvtab-main-title-wrapper">
                                <div class="ttvcmsmain-title-wrapper">
                                    <div class="ttvcms-main-title">
                                        <div class="ttvmain-title">Most Popular</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ttvtab-title-wrapper">
                                <div id="featuredid" class="ttvtab-pagination-wrapper ttv-pagination-wrapper active ">
                                    <div class="ttvtab-featured-pagination ttvtab-pagination active" style="display: block;"></div>
                                    <div class="ttvtab-featured-pagination ttvtab-pagination active" style="display: block;">
                                        <div class="ttvtab-featured-pagination-next-pre-btn ttvcms-next-pre-btn">
                                            <div class="ttvtab-featured-product-prev" data-parent="ttvcmstab-featured-product"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                                            <div class="ttvtab-featured-product-next" data-parent="ttvcmstab-featured-product"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div id="newid" class="ttvtab-pagination-wrapper ttv-pagination-wrapper ">
                                    <div class="ttvtab-new-pagination ttvtab-pagination "></div>
                                    <div class="ttvtab-new-pagination ttvtab-pagination ">
                                        <div class="ttvtab-new-pagination-next-pre-btn ttvcms-next-pre-btn">
                                            <div class="ttvtab-new-product-prev" data-parent="ttvcmstab-new-product"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                                            <div class="ttvtab-new-product-next" data-parent="ttvcmstab-new-product"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div id="bestid" class="ttvtab-pagination-wrapper ttv-pagination-wrapper ">
                                    <div class="ttvtab-best-seller-pagination ttvtab-pagination "></div>
                                    <div class="ttvtab-best-seller-pagination ttvtab-pagination ">
                                        <div class="ttvtab-best-seller-pagination-next-pre-btn ttvcms-next-pre-btn">
                                            <div class="ttvtab-best-seller-product-prev" data-parent="ttvcmstab-best-seller-product"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                                            <div class="ttvtab-best-seller-product-next" data-parent="ttvcmstab-best-seller-product"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div id="specialid" class="ttvtab-pagination-wrapper ttv-pagination-wrapper ">
                                    <div class="ttvtab-special-pagination ttvtab-pagination "></div>
                                    <div class="ttvtab-special-pagination ttvtab-pagination ">
                                        <div class="ttvtab-special-pagination-next-pre-btn ttvcms-next-pre-btn">
                                            <div class="ttvtab-special-product-prev" data-parent="ttvcmstab-special-product"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                                            <div class="ttvtab-special-product-next" data-parent="ttvcmstab-special-product"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ttvtab-product-list-wrapper">
                            <div id="ttvcmstab-featured-product" class="ttvcmstab-product ttvtab-featured-product ttvcmstab-product-detail active " style="display: block;">
                                <div class="products owl-theme owl-carousel ttvproduct-wrapper-content-box ttvall-tab-product-block ttvtab-featured-product owl-loaded owl-drag">
                                    <div class="owl-stage-outer">
                                        <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1992px;">
                                            @foreach (var item in Model)
                                            {
                                                <div class="owl-item" style="width: 332px;">
                                                    <div class="item">
                                                        <article class="ttvtab-first-product product-miniature js-product-miniature ttvall-product-wrapper-info-box">
                                                            <div class="thumbnail-container">
                                                                <div class="ttvproduct-wrapper grid">
                                                                    <div class="ttvproduct-image">
                                                                        <a asp-controller="product" asp-action="detail" asp-route-productId="@item.Id" asp-route-categoryId="@item.CategoryId" class="product-thumbnail">
                                                                            <img src="@item.ImageUrl" alt="Exercitat Virginia">
                                                                        </a>
                                                                        <div class="ttvproduct-hover-btn">
                                                                            <div class="ttvproduct-cart-btn">
                                                                                <button data-button-action="add-to-cart" type="submit" class="btn btn-primary add-to-cart ttvproduct-add-to-cart" onclick="cart.add1('28');" title="" data-link-action="Add to Cart" data-toggle="ttvtooltip" data-placement="top" data-html="true" data-original-title="Add to Cart">
                                                                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                                                    <span class="ttvproduct-add-to-cart-label">Add to Cart</span>
                                                                                </button>
                                                                            </div>
                                                                            <div class="ttvproduct-quick-btn quickview" data-quickviewid="28" title="" data-link-action="Quick View" data-toggle="ttvtooltip" data-placement="top" data-html="true" data-original-title="Quick View">
                                                                                <div class="ttvproduct-quick-icon">
                                                                                    <i class="fa fa-search search" aria-hidden="true"></i>
                                                                                </div>
                                                                                <div class="ttvproduct-quick-lable">
                                                                                    <a asp-controller="product" asp-action="detail" asp-route-productId="@item.Id" asp-route-categoryId="@item.CategoryId">
                                                                                        Quick View
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                            <div class="ttvproduct-compare-btn">
                                                                                <button onclick="compare.add1('28');" class="btn btn-primary ttvproduct-compare" title="" data-link-action="Compare this Product" data-toggle="ttvtooltip" data-placement="top" data-html="true" data-original-title="Compare this Product">
                                                                                    <i class="fa fa-exchange"></i>
                                                                                    <span class="ttvproduct-add-to-compare-label">Compare this Product</span>
                                                                                </button>
                                                                            </div>
                                                                            <div class="ttvproduct-wishlist-btn">
                                                                                <button onclick="wishlist.add1('28');" class="btn btn-primary ttvproduct-wishlist" title="" data-link-action="Add to Wish List" data-toggle="ttvtooltip" data-placement="top" data-html="true" data-original-title="Add to Wish List">
                                                                                    <i class="fa fa-heart"></i>
                                                                                    <span class="ttvproduct-add-to-wishlist-label">Add to Wish List</span>
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="product-description">
                                                                        <div class="ttvall-product-star-icon">
                                                                            <div class="comments_note">
                                                                                <div class="star_content">
                                                                                    @for (var i = 1; i <= item.Rating; i++)
                                                                                    {
                                                                                        <div class="star star_on"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                                    }
                                                                                    @for (var i = 1; i <= 5 - item.Rating; i++)
                                                                                    {
                                                                                       <div class="star"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                                    }                                                                             
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="ttvproduct-name">
                                                                            <div class="product-title">
                                                                                <a asp-controller="product" asp-action="detail" asp-route-productId="@item.Id" asp-route-categoryId="@item.CategoryId">
                                                                                    <h6>@item.Name</h6>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="ttvproduct-name-price-wrapper">
                                                                            <div class="product-price-and-shipping"><span class="price">@item.Price.ToString("C2", CultureInfo.CurrentCulture)</span><span class="price-tax">Ex Tax:$310.00</span></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </article>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div>
                                    <div class="owl-dots disabled"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ttvcmsmultibanners container-fluid">
    <div class="ttvmultibanner ttvbanner-content container">
        <div class="ttvmultibanner-wrapper clearfix">
            <div class="ttvmultibanner-wrapper-info">
                <div class="tttvmultibanner-first-block row">
                    <div class="ttvmultibanner1-wrapper ttvmultibanner-wrapper-block col-sm-6 col-lg-3">
                        <div class=" ttvmultibanner-1 ">
                            <a href="#" title="This is Caption">
                                <div class="ttvbanner-hover-wrapper">
                                    <div class="ttvbranner-hover-info-box"></div>
                                    <div class="ttvbanner-hover"></div>
                                    <div class="ttv-banner-contant-center">
                                        <div class="ttvmultibanner-content">
                                            <div class="ttvmultibanner-content-wrapper">
                                                <h4>Latest Camera</h4><h6 class="ttvmultibanner1-title-text ttvmultibanner-title-text">
                                                    handeld Gimeal Stabilizer
                                                </h6><div class="ttvmultibanner1-button ttvmultibanner-button">
                                                    Shop now
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/image/cache/catalog/themevolty/multibanner/demo_img_1-385x550.jpg" class="img-responsive" alt="This is Caption">
                                    <div class="ttvbanner-hover1">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div><div class="ttvmultibanner2-wrapper ttvmultibanner-wrapper-block col-sm-6 col-lg-3">
                        <div class=" ttvmultibanner-2 ">
                            <a href="#" title="This is Caption">
                                <div class="ttvbanner-hover-wrapper">
                                    <div class="ttvbranner-hover-info-box"></div><div class="ttvbanner-hover"></div><div class="ttv-banner-contant-center">
                                        <div class="ttvmultibanner-content">
                                            <div class="ttvmultibanner-content-wrapper">
                                                <h4>Lily Follows You.</h4><h6 class="ttvmultibanner2-title-text ttvmultibanner-title-text">
                                                    Selectable 4k/1080p stabilized
                                                </h6><div class="ttvmultibanner2-button ttvmultibanner-button">
                                                    Shop now
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/image/cache/catalog/themevolty/multibanner/demo_img_2-385x550.jpg" class="img-responsive" alt="This is Caption">
                                    <div class="ttvbanner-hover2"></div>
                                </div>
                            </a>
                        </div>
                    </div><div class="ttvmultibanner3-ttvmultibanner4-wrapper col-sm-12 col-lg-6">
                        <div class="ttvmultibanner3-wrapper ttvmultibanner-wrapper-block col-sm-12">
                            <div class=" ttvmultibanner-3 ">
                                <a href="#" title="This is Caption">
                                    <div class="ttvbanner-hover-wrapper">
                                        <div class="ttvbranner-hover-info-box"></div><div class="ttvbanner-hover"></div><div class="ttv-banner-contant-left">
                                            <div class="ttvmultibanner-content">
                                                <div class="ttvmultibanner-content-wrapper">
                                                    <h4>Oneplus 6</h4><h6 class="ttvmultibanner3-title-text ttvmultibanner-title-text">
                                                        Smart android Mobile
                                                    </h6><div class="ttvmultibanner3-button ttvmultibanner-button">
                                                        Shop now
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/image/cache/catalog/themevolty/multibanner/demo_img_3-799x260.jpg" class="img-responsive" alt="This is Caption">
                                        <div class="ttvbanner-hover3"></div>
                                    </div>
                                </a>
                            </div>
                        </div><div class="ttvmultibanner4-wrapper ttvmultibanner-wrapper-block col-sm-12">
                            <div class=" ttvmultibanner-4 ">
                                <a href="#" title="This is Caption">
                                    <div class="ttvbanner-hover-wrapper">
                                        <div class="ttvbranner-hover-info-box"></div><div class="ttvbanner-hover"></div><div class="ttv-banner-contant-left">
                                            <div class="ttvmultibanner-content">
                                                <div class="ttvmultibanner-content-wrapper">
                                                    <h4>Sony Bluetooth</h4><h6 class="ttvmultibanner4-title-text ttvmultibanner-title-text">
                                                        Sterero Bluetooth Headset
                                                    </h6><div class="ttvmultibanner4-button ttvmultibanner-button">
                                                        Shop now
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/image/cache/catalog/themevolty/multibanner/demo_img_4-799x260.jpg" class="img-responsive" alt="This is Caption">
                                        <div class="ttvbanner-hover4"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ttvcmsofferbanners-one container-fluid">
    <div class="ttvcmsttvcmsofferbanners ttvbanner-content container">
        <div class="ttvbanner">
            <div class="ttvbanner-wrapper ttvone-banner-wrapper-info">
                <div class="ttvbanner1">
                    <a href="" title="This is Caption">
                        <div class="ttvbanner-hover-wrapper"><img src="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/image/cache/catalog/themevolty/banners/demo_img_1-1630x400.jpg" class="img-responsive" alt="This is Caption"></div>
                    </a>
                    <div class="ttv-banner-contant-center">
                        <a href="" title="This is Caption"></a>
                        <div class="ttvbannercontent">
                            <a href="" title="This is Caption"></a>
                            <div class="ttvbanner-content-wrapper">
                                <a href="" title="This is Caption"></a><a href="#" class="ttvbanner1-title">
                                    Audio-Techinica
                                </a><a href="#" class="ttvbanner1-des">Profesional HeadPhone</a>
                            </div>
                            <div class="ttvbanner1-sub-title">
                                <span class="ttvbanner1-desshort">50% Off On Sale </span>
                                <div class="ttvbanner1-btn">
                                    <a href="#">
                                        Shop Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ttvcmscustomer-services container-fluid">
    <div class="ttvcustomer-services container">
        <div class="ttvservice-inner">
            <div class="ttvservice-all-block-wrapper row">
                <div class="ttvservices-all-block card-deck">
                    <div class="ttvservices-center card odd ttvservice-shipping">
                        <div class="ttvall-block-box-shadows">
                            <div class="ttvservices-1 ttvall-services-block">
                                <div class="ttvservices-wrapper">
                                    <div class="ttvservices-img-conut">
                                        <div class="ttvservices-img"><i class="fa fa-smile-o" aria-hidden="true"></i></div>
                                    </div>
                                    <div class="ttvservices-content-box">
                                        <div class="ttvservices-info">
                                            <div class="ttvservices-title">Free Shipping Worldwide </div>
                                            <div class="ttvservice-dec">And free returns. See delivery dates..</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ttvservices-center card even ttvservice-cash-delivery">
                        <div class="ttvall-block-box-shadows">
                            <div class="ttvservices-2 ttvall-services-block">
                                <div class="ttvservices-wrapper">
                                    <div class="ttvservices-img-conut">
                                        <div class="ttvservices-img"><i class="fa fa-ship" aria-hidden="true"></i></div>
                                    </div>
                                    <div class="ttvservices-content-box">
                                        <div class="ttvservices-info">
                                            <div class="ttvservices-title">24/7 Customer Suport</div>
                                            <div class="ttvservice-dec">Have a question? Call a or chat online.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ttvservices-center card odd ttvservice-day-return">
                        <div class="ttvall-block-box-shadows">
                            <div class="ttvservices-3 ttvall-services-block">
                                <div class="ttvservices-wrapper">
                                    <div class="ttvservices-img-conut">
                                        <div class="ttvservices-img"><i class="fa fa-truck" aria-hidden="true"></i></div>
                                    </div>
                                    <div class="ttvservices-content-box">
                                        <div class="ttvservices-info">
                                            <div class="ttvservices-title">Money Back Guarantee</div>
                                            <div class="ttvservice-dec">Pay with the world’s and secure payment methods.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ttvservices-center card even ttvservice-customer-service">
                        <div class="ttvall-block-box-shadows">
                            <div class="ttvservices-4 ttvall-services-block">
                                <div class="ttvservices-wrapper">
                                    <div class="ttvservices-img-conut">
                                        <div class="ttvservices-img"><i class="fa fa-truck" aria-hidden="true"></i></div>
                                    </div>
                                    <div class="ttvservices-content-box">
                                        <div class="ttvservices-info">
                                            <div class="ttvservices-title">Shop With Confidence</div>
                                            <div class="ttvservice-dec">Our Buyer Protection purchasefrom click to delivery.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ttvservices-center card odd ttvservice-selling-online">
                        <div class="ttvall-block-box-shadows">
                            <div class="ttvservices-5 ttvall-services-block">
                                <div class="ttvservices-wrapper">
                                    <div class="ttvservices-img-conut">
                                        <div class="ttvservices-img"><i class="fa fa-truck" aria-hidden="true"></i></div>
                                    </div>
                                    <div class="ttvservices-content-box">
                                        <div class="ttvservices-info">
                                            <div class="ttvservices-title">90 Days Return</div>
                                            <div class="ttvservice-dec">Passage Of Lorem Ipsum To Be Embarrassing</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>