@using System.Globalization
@using eShopSolution.ViewModels.Common
@using eShopSolution.ViewModels.Catalog.Products
@using eShopSolution.ViewModels.Catalog.Categories
@model PagedResult<ProductViewModel>

<div id="product-category" class="ttv-category-sub-page">
    <div class="container ttv-left-layout">
        <nav class="breadcrumb">
            <ol>
                <li><a asp-controller="home" asp-action="index"><span><i class="fa fa-home"></i></span></a></li>
                <li><a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=product/category&amp;path=20"><span>Electronic</span></a></li>
            </ol>
        </nav>
        <div class="">
            <aside id="column-left" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-12 ttv-left-right-panel-hide">
                <div class="ttvleft-column-remove">
                    <div class="ttvleft-column-close-btn"></div>
                </div>
                <div class="block-categories hidden-md-down">
                    <ul class="category-top-menu ttvside-panel-dropdown">
                        <li class="ttv-category-title-wrapper">
                            <a class="ttv-main-category-title">Categories</a>
                            <div class="ttvleft-right-title-toggle"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                        </li>
                        <li class="ttv-leftcategory-wrapper">
                            <ul class="category-sub-menu">
                                @{
                                    List<CategoryViewModel> categories = ViewBag.categories;
                                    var parents = categories.Where(x => x.ParentId == null);
                                }
                                @foreach (var item in parents)
                                {
                                    <li data-depth="0">
                                        <a asp-controller="product" asp-action="category" asp-route-parentCategoryId="@item.Id" class="active">@item.Name</a>
                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="ttvcms-left-testimonial ttvcms-all-testimonial">
                    <div class="ttvtestimonial">
                        <div class="ttvleft-right-title-wrapper">
                            <div class="ttvleft-right-title facet-label">Our Testimonial</div>
                            <a class="ttvleft-right-title-toggle"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        </div>
                        <div class="ttvtestimonial-slider-button-wrapper">
                            <div class="ttvtestimonial-slider-inner">
                                <div class="ttvtestimonial-content-box owl-theme owl-carousel owl-loaded owl-drag">
                                    <div class="owl-stage-outer">
                                        <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 936px;">
                                            <div class="owl-item active" style="width: 312px;">
                                                <div class="item ttvtestimonial-wrapper-info">
                                                    <div class="ttvtestimonial-inner-content-box">
                                                        <div class="ttvtestimonial-img-block"><img src="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/image/cache/catalog/themevolty/testimonial/demo_img_1-100x100.png" alt="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/image/cache/catalog/themevolty/testimonial/demo_img_1-100x100.png" style="width:100px"></div>
                                                        <div class="ttvtestimonial-info-box">
                                                            <div class="ttvtestimonial-dec">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore</div>
                                                            <div class="ttvtestimonial-title-des">
                                                                <div class="ttvtestimonial-title"><a href="#">Darrel Austin</a></div>
                                                                <div class="ttvtestimonial-designation">Themevolty Templates</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="owl-item" style="width: 312px;">
                                                <div class="item ttvtestimonial-wrapper-info">
                                                    <div class="ttvtestimonial-inner-content-box">
                                                        <div class="ttvtestimonial-img-block"><img src="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/image/cache/catalog/themevolty/testimonial/demo_img_2-100x100.png" alt="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/image/cache/catalog/themevolty/testimonial/demo_img_2-100x100.png" style="width:100px"></div>
                                                        <div class="ttvtestimonial-info-box">
                                                            <div class="ttvtestimonial-dec">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore</div>
                                                            <div class="ttvtestimonial-title-des">
                                                                <div class="ttvtestimonial-title"><a href="#">Darrel Austin</a></div>
                                                                <div class="ttvtestimonial-designation">Themevolty Templates</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="owl-item" style="width: 312px;">
                                                <div class="item ttvtestimonial-wrapper-info">
                                                    <div class="ttvtestimonial-inner-content-box">
                                                        <div class="ttvtestimonial-img-block"><img src="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/image/cache/catalog/themevolty/testimonial/demo_img_3-100x100.png" alt="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/image/cache/catalog/themevolty/testimonial/demo_img_3-100x100.png" style="width:100px"></div>
                                                        <div class="ttvtestimonial-info-box">
                                                            <div class="ttvtestimonial-dec">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore</div>
                                                            <div class="ttvtestimonial-title-des">
                                                                <div class="ttvtestimonial-title"><a href="#">Darrel Austin</a></div>
                                                                <div class="ttvtestimonial-designation">Themevolty Templates</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div>
                                    <div class="owl-dots disabled"></div>
                                </div>
                            </div>
                            <div class="ttvcms-testimonial-pagination-wrapper">
                                <div class="ttvcms-testimonial-pagination">
                                    <div class="ttvcms-testimonial-next-pre-btn">
                                        <div class="ttvtestimonial-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                                        <div class="ttvtestimonial-next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <div id="content-wrapper" class="left-column col-sm-6 ttvcontent-full-width">
                <div id="main">
                    <div class="block-category card card-block clearfix ttv-category-block-wrapper">
                        <div class="ttv-category-cover"><img src="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/image/cache/catalog/themevolty/categorybanner/Category-Banner-1200x300.jpg" alt="Electronic" title="Electronic"></div>
                        <div class="ttv-all-page-main-title-wrapper">
                            <div class="ttv-all-page-main-title">Electronic</div>
                        </div>
                    </div>
                    <div class="text-sm-center hidden-md-up">
                        <div class="ttvmobile-view-category-title">Electronic</div>
                    </div>
                    <div id="products" class="grid">
                        <div>
                            <div class="ttvleft-penal-product-top clearfix">
                                <div id="js-product-list-top" class="products-selection ttvcenter-block-product-section ttvall-block-box-shadows clearfix">
                                    <div class="col-sm-6 col-md-6 col-lg-2 ttv-left-search-totle-product">
                                        <div class="ttvcms-left-column-wrapper">
                                            <div class="ttv-left-pannal-btn-wrapper" data-toggle="ttvtooltip" data-placement="top" data-html="true" title="" data-original-title="left panel"><i class="fa fa-th grid" aria-hidden="true"></i><span class="">View Left Column</span></div>
                                        </div>
                                        <div class="ttv-total-product"><p class="ttv-total-product-number">There is @Model.TotalRecords product</p></div>
                                    </div>

                                    <div class="col-sm-6 col-md-6 col-lg-3 ttv-grid-list-all-wrapper">
                                        <div class="ttvcmsproduct-grid-list clearfix">
                                            <div class="ttvproduct-view ttvproduct-grid" data-toggle="ttvtooltip" data-placement="top" data-html="true" title="" data-original-title="Grid"><i class="fa fa-th grid" aria-hidden="true"></i><span class="ttvgrid-wrapper">Grid</span></div>
                                            <div class="ttvproduct-view ttvproduct-list" data-toggle="ttvtooltip" data-placement="top" data-html="true" title="" data-original-title="List"><i class="fa fa-list list" aria-hidden="true"></i><span class="ttvlist-wrapper">List</span></div>
                                            <div class="ttvproduct-view ttvproduct-list-2" data-toggle="ttvtooltip" data-placement="top" data-html="true" title="" data-original-title="List 2"><i class="fa fa-list list-2" aria-hidden="true"></i><span class="ttvlist-wrapper">List-2</span></div>
                                            <div class="ttvproduct-view ttvproduct-catalog" data-toggle="ttvtooltip" data-placement="top" data-html="true" title="" data-original-title="catalog"><i class="fa fa-list catalog" aria-hidden="true"></i><span class="ttvlist-wrapper">catalog</span></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-3 ttvall-page-shortby ttv-show-dropdown">
                                        <div class="row sort-by-row">
                                            <span class="col-sm-3 col-md-3 hidden-sm-down sort-by">Show:</span>
                                            <div class="col-sm-9 col-xs-8 col-md-9 products-sort-order dropdown">
                                                <button class="btn-unstyle select-title" rel="nofollow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span id="selecttitleshowset">15</span><i class="fa fa-caret-down float-xs-right" aria-hidden="true"></i></button>
                                                <div class="dropdown-menu"><a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=product/category&amp;path=20&amp;limit=15" class="select-list current js-search-link" id="selecttitleshowget">15</a><a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=product/category&amp;path=20&amp;limit=25" class="select-list current js-search-link">25</a><a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=product/category&amp;path=20&amp;limit=50" class="select-list current js-search-link">50</a><a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=product/category&amp;path=20&amp;limit=75" class="select-list current js-search-link">75</a><a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=product/category&amp;path=20&amp;limit=100" class="select-list current js-search-link">100</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-3 ttvall-page-shortby ttv-sort-dropdown">
                                        <div class="row sort-by-row">
                                            <span class="col-sm-3 col-md-3 hidden-sm-down sort-by">Sort By:</span>
                                            <div class="col-sm-9 col-xs-8 col-md-9 products-sort-order">
                                                <button class="btn-unstyle select-title" rel="nofollow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span id="selecttitlesortset">Default</span><i class="fa fa-caret-down float-xs-right" aria-hidden="true"></i></button>
                                                <div class="dropdown-menu"><a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=product/category&amp;path=20&amp;sort=p.sort_order&amp;order=ASC&amp;limit=15" class="select-list current js-search-link" id="selecttitlesortget">Default</a><a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=product/category&amp;path=20&amp;sort=pd.name&amp;order=ASC&amp;limit=15" class="select-list current js-search-link">Name (A - Z)</a><a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=product/category&amp;path=20&amp;sort=pd.name&amp;order=DESC&amp;limit=15" class="select-list current js-search-link">Name (Z - A)</a><a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=product/category&amp;path=20&amp;sort=p.price&amp;order=ASC&amp;limit=15" class="select-list current js-search-link">Price (Low &gt; High)</a><a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=product/category&amp;path=20&amp;sort=p.price&amp;order=DESC&amp;limit=15" class="select-list current js-search-link">Price (High &gt; Low)</a><a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=product/category&amp;path=20&amp;sort=rating&amp;order=DESC&amp;limit=15" class="select-list current js-search-link">Rating (Highest)</a><a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=product/category&amp;path=20&amp;sort=rating&amp;order=ASC&amp;limit=15" class="select-list current js-search-link">Rating (Lowest)</a><a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=product/category&amp;path=20&amp;sort=p.model&amp;order=ASC&amp;limit=15" class="select-list current js-search-link">Model (A - Z)</a><a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=product/category&amp;path=20&amp;sort=p.model&amp;order=DESC&amp;limit=15" class="select-list current js-search-link">Model (Z - A)</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ttvcms-right-column-wrapper col-xs-12 col-md-1 col-lg-1">
                                        <div class="ttvcms-right-column-wrapper">
                                            <div class="ttv-right-pannal-btn-wrapper" data-toggle="ttvtooltip" data-placement="top" data-html="true" title="" data-original-title="Right panel"><i class="fa fa-th grid" aria-hidden="true"></i><span class="">View Right Column</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div id="js-product-list" class="ttvall-block-box-shadows">
                                <div class="ttvgrid-list-view-product">
                                    <div class="products row">
                                        @foreach (var item in Model.items)
                                        {
                                            <article class="item product-miniature js-product-miniature col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12 ttv-grid-list-wrapper-info-box ttvall-product-wrapper-info-box">
                                                <div class="thumbnail-container">
                                                    <div class="ttvproduct-wrapper grid">
                                                        <div class="ttvproduct-image">
                                                            <a asp-controller="product" asp-action="detail" asp-route-id="@item.Id" class="thumbnail product-thumbnail">
                                                                <img src="@item.ImageUrl" class="ttvproduct-defult-img gridimg1" />
                                                            </a>
                                                            <div class="ttvproduct-hover-btn-wrapper">
                                                                <div class="ttvproduct-hover-btn">
                                                                    <div class="ttvproduct-cart-btn"><button data-button-action="add-to-cart" type="submit" class="btn btn-primary add-to-cart ttvproduct-add-to-cart" onclick="cart.add1('36');" title="" data-link-action="Add to Cart" data-toggle="ttvtooltip" data-placement="top" data-html="true" data-original-title="Add to Cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span class="ttvproduct-add-to-cart-label">Add to Cart</span></button></div>
                                                                    <div class="ttvproduct-quick-btn quickview" data-quickviewid="36" title="" data-link-action="Quick View" data-toggle="ttvtooltip" data-placement="top" data-html="true" data-original-title="Quick View">
                                                                        <div class="ttvproduct-quick-icon"><i class="fa fa-search search" aria-hidden="true"></i></div>
                                                                        <div class="ttvproduct-quick-lable">Quick View</div>
                                                                    </div>
                                                                    <div class="ttvproduct-compare-btn"><button onclick="compare.add1('36');" class="btn btn-primary ttvproduct-compare" title="" data-link-action="Compare this Product" data-toggle="ttvtooltip" data-placement="top" data-html="true" data-original-title="Compare this Product"><i class="fa fa-exchange"></i><span class="ttvproduct-add-to-compare-label">Compare this Product</span></button></div>
                                                                    <div class="ttvproduct-wishlist-btn"><button onclick="wishlist.add1('36');" class="btn btn-primary ttvproduct-wishlist" title="" data-link-action="Add to Wish List" data-toggle="ttvtooltip" data-placement="top" data-html="true" data-original-title="Add to Wish List"><i class="fa fa-heart"></i><span class="ttvproduct-add-to-wishlist-label">Add to Wish List</span></button></div>
                                                                </div>
                                                            </div>
                                                            <div class="ttvproduct-timer-wrapper-outer"></div>
                                                        </div>
                                                        <div class="product-description">
                                                            <div class="ttvall-product-star-icon">
                                                                <div class="comments_note">
                                                                    <div class="star_content">
                                                                        <div class="star star_on"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                        <div class="star star_on"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                        <div class="star star_on"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                        <div class="star"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                        <div class="star"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="ttvproduct-name">
                                                                <div class="product-title">
                                                                    <a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=product/product&amp;path=20&amp;product_id=36&amp;limit=15">
                                                                        <h6>@item.Name</h6>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="ttvproduct-name-price-wrapper">
                                                                <div class="product-price-and-shipping"><span class="price">@item.Price.ToString("C2", CultureInfo.CurrentCulture)</span><span class="price-tax">Ex Tax:$210.00</span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ttvproduct-wrapper list">
                                                        <div class="ttvproduct-image col-sm-4">
                                                            <a asp-controller="product" asp-action="detail" asp-route-id="@item.Id" class="thumbnail product-thumbnail">
                                                                <img src="@item.ImageUrl" class="ttvproduct-defult-img">
                                                            </a>
                                                        </div>
                                                        <div class="ttvproductdescription-button-wrapper col-sm-8">
                                                            <div class="product-description">
                                                                <div class="ttvproduct-name">
                                                                    <div class="product-title">
                                                                        <a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=product/product&amp;path=20&amp;product_id=36&amp;limit=15">
                                                                            <h6>@item.Name</h6>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="ttv-product-desc">
                                                                    @item.Description
                                                                </div>
                                                                <div class="product-price-and-shipping"><span class="price">@item.Price.ToString("C2", CultureInfo.CurrentCulture)</span><span class="price-tax">Ex Tax:$210.00</span></div>
                                                                <div class="ttvproductlist-comment-stock-wrapper">
                                                                    <div class="ttvall-product-star-icon">
                                                                        <div class="comments_note">
                                                                            <div class="star_content">
                                                                                <div class="star star_on"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                                <div class="star star_on"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                                <div class="star star_on"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                                <div class="star"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                                <div class="star"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="ttvall-product-btn-list">
                                                                <div class="ttvproduct-hover-btn">
                                                                    <div class="ttvproduct-cart-btn-list"><button data-button-action="add-to-cart" type="submit" class="btn btn-primary add-to-cart ttvproduct-add-to-cart" onclick="cart.add1('36');" title="" data-link-action="Add to Cart" data-toggle="ttvtooltip" data-placement="top" data-html="true" data-original-title="Add to Cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span class="ttvproduct-add-to-cart-label">Add to Cart</span></button></div>
                                                                    <div class="highlighted-informations no-variants ttvproduct-quick-btn quickview" data-quickviewid="36" title="" data-link-action="Quick View" data-toggle="ttvtooltip" data-placement="top" data-html="true" data-original-title="Quick View">
                                                                        <div class="ttvproduct-quick-icon"><i class="fa fa-search search" aria-hidden="true"></i></div>
                                                                        <div class="ttvproduct-quick-lable">Quick View</div>
                                                                    </div>
                                                                    <div class="ttvproduct-compare-btn-list"><button onclick="compare.add1('36');" class="btn btn-primary ttvproduct-compare" title="" data-link-action="Compare this Product" data-toggle="ttvtooltip" data-placement="top" data-html="true" data-original-title="Compare this Product"><i class="fa fa-exchange"></i><span class="ttvproduct-add-to-compare-label">Compare this Product</span></button></div>
                                                                    <div class="ttvproduct-wishlist-btn-list"><button onclick="wishlist.add1('36');" class="btn btn-primary ttvproduct-wishlist" title="" data-link-action="Add to Wish List" data-toggle="ttvtooltip" data-placement="top" data-html="true" data-original-title="Add to Wish List"><i class="fa fa-heart"></i><span class="ttvproduct-add-to-wishlist-label">Add to Wish List</span></button></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ttvproduct-wrapper catalog">
                                                        <div class="ttvproduct-catalog-wrapper">
                                                            <div class="ttvproduct-image col-sm-12 col-md-3">
                                                                <a asp-controller="product" asp-action="detail" asp-route-id="@item.Id" class="thumbnail product-thumbnail">
                                                                    <img src="@item.ImageUrl" class="ttvproduct-defult-img">
                                                                </a>
                                                            </div>
                                                            <div class="col-sm-12 col-md-3 ttvcms-product-name-star">
                                                                <div class="ttvproduct-name">
                                                                    <div class="product-title">
                                                                        <a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=product/product&amp;path=20&amp;product_id=36&amp;limit=15">
                                                                            <h6>@item.Name</h6>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="ttv-product-desc">
                                                                    @item.Description
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 col-md-2 ttvproduct-catalog-price">
                                                                <div class="ttvall-product-star-icon">
                                                                    <div class="comments_note">
                                                                        <div class="star_content">
                                                                            <div class="star star_on"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                            <div class="star star_on"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                            <div class="star star_on"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                            <div class="star"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                            <div class="star"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="product-price-and-shipping"><span class="price">@item.Price.ToString("C2", CultureInfo.CurrentCulture)</span><span class="price-tax">Ex Tax:$210.00</span></div>
                                                            </div>
                                                            <div class="col-sm-12 col-md-4 ttv-product-catalog-btn">
                                                                <div class="ttvproduct-catalog-btn-wrapper">
                                                                    <div class="ttv-product-cart-quentity-inner"><button class="ttvproduct-cart-quentity-decrement">-</button><input type="text" class="ttvproduct-cart-quentity" id="cart_quantity36" name="quantity" value="1"><button class="ttvproduct-cart-quentity-increment">+</button></div>
                                                                    <div class="ttvcatlog-button-wrapper">
                                                                        <div class="ttvproduct-hover-btn">
                                                                            <div class="ttvproduct-cart-catalog-btn">
                                                                                <div class="ttvproduct-cart-btn-list"><button data-button-action="add-to-cart" type="submit" class="btn btn-primary add-to-cart ttvproduct-add-to-cart" onclick="cart.add1('36');" title="" data-link-action="Add to Cart" data-toggle="ttvtooltip" data-placement="top" data-html="true" data-original-title="Add to Cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span class="ttvproduct-add-to-cart-label">Add to Cart</span></button></div>
                                                                            </div>
                                                                            <div class="highlighted-informations no-variants ttvproduct-quick-btn quickview" data-quickviewid="36" title="" data-link-action="Quick View" data-toggle="ttvtooltip" data-placement="top" data-html="true" data-original-title="Quick View">
                                                                                <div class="ttvproduct-quick-icon"><i class="fa fa-search search" aria-hidden="true"></i></div>
                                                                                <div class="ttvproduct-quick-lable">Quick View</div>
                                                                            </div>
                                                                            <div class="ttvproduct-compare-catalog-btn">
                                                                                <div class="ttvproduct-compare-btn-list"><button onclick="compare.add1('36');" class="btn btn-primary ttvproduct-compare" title="" data-link-action="Compare this Product" data-toggle="ttvtooltip" data-placement="top" data-html="true" data-original-title="Compare this Product"><i class="fa fa-exchange"></i><span class="ttvproduct-add-to-compare-label">Compare this Product</span></button></div>
                                                                            </div>
                                                                            <div class="ttvproduct-wishlist-catalog-btn">
                                                                                <div class="ttvproduct-wishlist-btn-list"><button onclick="wishlist.add1('36');" class="btn btn-primary ttvproduct-wishlist" title="" data-link-action="Add to Wish List" data-toggle="ttvtooltip" data-placement="top" data-html="true" data-original-title="Add to Wish List"><i class="fa fa-heart"></i><span class="ttvproduct-add-to-wishlist-label">Add to Wish List</span></button></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        }

                                    </div>
                                    <div class="loadMoreSpacing">
                                        @if (ViewBag.subCategoryId != null)
                                        {
                                            @if (Model.PageIndex < Model.PageCount)
                                            {
                                                <a asp-controller="product" asp-action="category" asp-route-subCategoryId="@ViewBag.subCategoryId" asp-route-pageIndex="@Model.PageIndex" class="btnLoadMore">Load more</a>
                                            }
                                        } else {
                                            @if (Model.PageIndex < Model.PageCount)
                                            {
                                                <a asp-controller="product" asp-action="category" asp-route-parentCategoryId="@ViewBag.parentCategoryId" asp-route-pageIndex="@Model.PageIndex" class="btnLoadMore">Load more</a>
                                            }
                                        }
                                    </div>
                                </div>
                                <nav class="row pagination ttvcms-all-pagination">
                                    <div class="col-md-12 ttv-pagination-number"></div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <aside id="column-right" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-12 ttv-left-right-panel-hide">
                <div class="ttvright-column-remove">
                    <div class="ttvright-column-close-btn"></div>
                </div>
                <div class="block-categories hidden-md-down">
                    <ul class="category-top-menu ttvside-panel-dropdown">
                        <li class="ttv-category-title-wrapper">
                            <a class="ttv-main-category-title">Categories</a>
                            <div class="ttvleft-right-title-toggle"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                        </li>
                        <li class="ttv-leftcategory-wrapper">
                            <ul class="category-sub-menu">
                                    @foreach (var item in parents)
                                    {
                                    <li data-depth="0">
                                        <a asp-controller="product" asp-action="category" asp-route-parentCategoryId="@item.Id" class="active">@item.Name</a>
                                    </li>
                                    }
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="ttvcms-left-testimonial ttvcms-all-testimonial">
                    <div class="ttvtestimonial">
                        <div class="ttvleft-right-title-wrapper">
                            <div class="ttvleft-right-title facet-label">Our Testimonial</div>
                            <a class="ttvleft-right-title-toggle"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        </div>
                        <div class="ttvtestimonial-slider-button-wrapper">
                            <div class="ttvtestimonial-slider-inner">
                                <div class="ttvtestimonial-content-box owl-theme owl-carousel owl-loaded owl-drag">
                                    <div class="owl-stage-outer">
                                        <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 936px;">
                                            <div class="owl-item active" style="width: 312px;">
                                                <div class="item ttvtestimonial-wrapper-info">
                                                    <div class="ttvtestimonial-inner-content-box">
                                                        <div class="ttvtestimonial-img-block"><img src="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/image/cache/catalog/themevolty/testimonial/demo_img_1-100x100.png" alt="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/image/cache/catalog/themevolty/testimonial/demo_img_1-100x100.png" style="width:100px"></div>
                                                        <div class="ttvtestimonial-info-box">
                                                            <div class="ttvtestimonial-dec">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore</div>
                                                            <div class="ttvtestimonial-title-des">
                                                                <div class="ttvtestimonial-title"><a href="#">Darrel Austin</a></div>
                                                                <div class="ttvtestimonial-designation">Themevolty Templates</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="owl-item" style="width: 312px;">
                                                <div class="item ttvtestimonial-wrapper-info">
                                                    <div class="ttvtestimonial-inner-content-box">
                                                        <div class="ttvtestimonial-img-block"><img src="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/image/cache/catalog/themevolty/testimonial/demo_img_2-100x100.png" alt="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/image/cache/catalog/themevolty/testimonial/demo_img_2-100x100.png" style="width:100px"></div>
                                                        <div class="ttvtestimonial-info-box">
                                                            <div class="ttvtestimonial-dec">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore</div>
                                                            <div class="ttvtestimonial-title-des">
                                                                <div class="ttvtestimonial-title"><a href="#">Darrel Austin</a></div>
                                                                <div class="ttvtestimonial-designation">Themevolty Templates</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="owl-item" style="width: 312px;">
                                                <div class="item ttvtestimonial-wrapper-info">
                                                    <div class="ttvtestimonial-inner-content-box">
                                                        <div class="ttvtestimonial-img-block"><img src="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/image/cache/catalog/themevolty/testimonial/demo_img_3-100x100.png" alt="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/image/cache/catalog/themevolty/testimonial/demo_img_3-100x100.png" style="width:100px"></div>
                                                        <div class="ttvtestimonial-info-box">
                                                            <div class="ttvtestimonial-dec">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore</div>
                                                            <div class="ttvtestimonial-title-des">
                                                                <div class="ttvtestimonial-title"><a href="#">Darrel Austin</a></div>
                                                                <div class="ttvtestimonial-designation">Themevolty Templates</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div>
                                    <div class="owl-dots disabled"></div>
                                </div>
                            </div>
                            <div class="ttvcms-testimonial-pagination-wrapper">
                                <div class="ttvcms-testimonial-pagination">
                                    <div class="ttvcms-testimonial-next-pre-btn">
                                        <div class="ttvtestimonial-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                                        <div class="ttvtestimonial-next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>