@using System.Globalization
@using eShopSolution.ViewModels.Catalog.ProductRating
@using eShopSolution.ViewModels.Catalog.Products
@model ProductRatingCreateRequest

<div class="">
    @{
        var productRatings = ViewBag.productRatings as List<ProductRatingViewModel>;
    }
    <div id="product-product" class="container">
        <nav class="breadcrumb">
            <ol>
                <li><a asp-controller="home" asp-action="index"><span><i class="fa fa-home"></i></span></a></li>
                <li><a asp-controller="product" asp-action="detail" asp-route-id="@ViewBag.productDetail.Id"><span>@ViewBag.productDetail.Name</span></a></li>
            </ol>
        </nav>
        <div class="row">
            <div id="content" class="col-sm-12">
                <div id="main">
                    <div class="ttv-sub-pages-inner-content clearfix">
                        <div>
                            <div class="col-sm-6 ttvproduct-details-img-block">
                                <div class="thumbnails">
                                    <div>
                                        <a class="thumbnail" href="@ViewBag.productDetail.ImageUrl">
                                            <img id="img_zoom" src="@ViewBag.productDetail.ImageUrl" alt="Exercitat Virginia" data-zoom-image="@ViewBag.productDetail.ImageUrl">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 ttv-wrapper-info">
                                <h1 class="ttvproduct-title">@ViewBag.productDetail.Name</h1>
                                <div class="ttvall-product-star-icon">
                                    <div class="comments_note">
                                        <div class="star_content">
                                            @for (int i = 1; i <= ViewBag.productDetail.Rating; i++)
                                            {
                                                <div class="star star_on"><i class="fa fa-star" aria-hidden="true"></i></div>
                                            }
                                            @for (int i = 1; i <= 5 - ViewBag.productDetail.Rating; i++)
                                            {
                                                <div class="star"><i class="fa fa-star" aria-hidden="true"></i></div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="ttv-review">
                                    <a href="" class="reviews_button" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;"><i class="fa fa-comment"></i>@productRatings.Count() reviews </a>| <a href="" class="reviews_button" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;"><i class="fa fa-pencil"></i>Write a review</a>
                                </div>
                                <hr>
                                <ul class="list-unstyled product-price-and-shipping">
                                    <li>
                                        <h2 class="price">@ViewBag.productDetail.Price.ToString("C2", CultureInfo.CurrentCulture)</h2>
                                    </li>
                                    <li class="ttv-tax">Ex Tax: $310.00</li>
                                    <li class="ttv-point">Price in reward points: 200</li>
                                </ul>
                                <div id="product">
                                    <div class="form-group">
                                        <label class="control-label ttv-qty-label">Qty</label>
                                        <div class="ttv-product-cart-quentity-inner"><input type="text" class="ttvproduct-cart-quentity" id="cart_quantity28" name="quantity" value="1"><button class="ttvproduct-cart-quentity-decrement"><i class="fa fa-angle-down" aria-hidden="true"></i></button><button class="ttvproduct-cart-quentity-increment"><i class="fa fa-angle-up" aria-hidden="true"></i></button></div>
                                        <input type="hidden" name="product_id" value="28"><button type="button" id="button-cart" data-loading-text="Loading..." class="btn btn-primary btn-lg btn-block"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to Cart</button>
                                        <div class="btn-group ttvproduct-button-main"><button type="button" class="btn btn-default ttv-wishlist" title="" onclick="wishlist.add1('28');" data-link-action="Add to Wish List" data-toggle="ttvtooltip" data-placement="top" data-html="true" data-original-title="Add to Wish List"><i class="fa fa-heart"></i>Add to Wish List</button><button type="button" class="btn btn-default ttv-compare" title="" onclick="compare.add1('28');" data-link-action="Compare this Product" data-toggle="ttvtooltip" data-placement="top" data-html="true" data-original-title="Compare this Product"><i class="fa fa-exchange"></i>Compare this Product</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="producttab">
                            <ul class="nav nav-tabs ttvtabs">
                                <li class="active"><a href="#tab-description" data-toggle="tab">Description</a></li>
                                <li><a href="#tab-review" data-toggle="tab">Reviews (@productRatings.Count())</a></li>
                            </ul>
                            <div class="tab-content ">
                                <div class="tab-pane active" id="tab-description">
                                    <p>
                                        @ViewBag.productDetail.Description
                                    </p>
                                </div>
                                <div class="tab-pane" id="tab-review">

                                    <div id="review">
                                        <table class="table table-striped table-bordered">
                                            <tbody>
                                                @foreach (var item in productRatings)
                                                {
                                                    <tr>
                                                        <td style="width: 50%;"><strong>@item.Name</strong></td>
                                                        <td class="text-right">@item.TimeCreated.ToShortDateString()</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            <p>@item.Review</p>
                                                            <div class="ttvall-product-star-icon">
                                                                <div class="comments_note">
                                                                    <div class="star_content">
                                                                        @for (int i = 1; i <= (int)item.Rating; i++)
                                                                        {
                                                                            <div class="star star_on"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                        }
                                                                        @for (int i = 1; i <= 5 - (int)item.Rating; i++)
                                                                        {
                                                                            <div class="star"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        <div class="text-right">
                                            <nav class="row pagination ttvcms-all-pagination">
                                                <div class="col-md-12 ttv-pagination-number"></div>
                                            </nav>
                                        </div>
                                    </div>
                                    <form asp-controller="product" asp-action="createRating" method="post" class="form-horizontal" id="form-review">
                                        <h2 class="ttvpage-sub-title">Write a review</h2>
                                        <div class="form-group required">
                                              <div class="col-sm-12">
                                                <input type="hidden" asp-for="CategoryId" class="form-control" value="@ViewBag.productDetail.CategoryId">
                                            </div>
                                            <div class="col-sm-12">
                                                <input type="hidden" asp-for="ProductId" class="form-control" value="@ViewBag.productDetail.Id">
                                            </div>
                                            <div class="col-sm-12">
                                                <label class="control-label ttvpage-sub-label" asp-for="Name">Your Name</label>
                                                <input type="text" asp-for="Name" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <div class="col-sm-12">
                                                <label class="control-label ttvpage-sub-label" asp-for="Review">Your Review</label>
                                                <textarea asp-for="Review" rows="5" class="form-control"></textarea>
                                                <div class="help-block"><span class="text-danger">Note:</span> HTML is not translated!</div>
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <div class="col-sm-12">
                                                <label class="control-label ttvpage-sub-label" asp-for="Rating">Rating</label>
                                                &nbsp;&nbsp;&nbsp; Bad&nbsp;
                                                <input type="radio" value="1" asp-for="Rating"> &nbsp;
                                                <input type="radio" value="2" asp-for="Rating"> &nbsp;
                                                <input type="radio" value="3" asp-for="Rating"> &nbsp;
                                                <input type="radio" value="4" asp-for="Rating"> &nbsp;
                                                <input type="radio" value="5" asp-for="Rating"> &nbsp;Good
                                            </div>
                                        </div>
                                        <div class="buttons clearfix">
                                            <div class="pull-right">
                                                <button type="submit" id="button-review" data-loading-text="Loading..." class="btn btn-primary">Continue</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ttvcmsrelated-product container-fluid">
                        <div class="ttvrelated-product-wrapper-box container">
                            <div class="ttvrelated-product-all-box">
                                <div class="ttvrelated-product-content">
                                    <div class="ttvall-block-box-shadows">
                                        <div class="ttvrelated-main-title-wrapper">
                                            <div class="ttvcmsmain-title-wrapper">
                                                <div class="ttvcms-main-title">
                                                    <div class="ttvmain-title">Related Products</div>
                                                </div>
                                            </div>
                                            <div class="ttvrelated-pagination-wrapper ttv-pagination-wrapper">
                                                <div class="ttvcmsrelated-pagination">
                                                    <div class="ttvcmsrelated-next-pre-btn ttvcms-next-pre-btn">
                                                        <div class="ttvcmsrelated-prev" data-parent="ttvcmsrelated-product"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                                                        <div class="ttvcmsrelated-next" data-parent="ttvcmsrelated-product"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ttvrelated-product">
                                            <div class="products owl-theme owl-carousel ttvrelated-product-wrapper ttvproduct-wrapper-content-box owl-loaded owl-drag">
                                                <div class="owl-stage-outer">
                                                    <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 664px;">
                                                        @foreach (var item in ViewBag.relatedProducts)
                                                        {
                                                            <div class="owl-item" style="width: 332px;">
                                                                <article class=" product-miniature js-product-miniature ttvall-product-wrapper-info-box">
                                                                    <div class="thumbnail-container">
                                                                        <div class="ttvproduct-wrapper grid">
                                                                            <div class="ttvproduct-image">
                                                                                <a asp-controller="product" asp-action="detail" asp-route-productId="@item.Id" asp-route-categoryId="@item.CategoryId" class="product-thumbnail">
                                                                                    <img src="@item.ImageUrl" alt="Annabelle by Pantaloons">
                                                                                </a>
                                                                                <div class="ttvproduct-hover-btn">
                                                                                    <div class="ttvproduct-cart-btn"><button data-button-action="add-to-cart" type="submit" class="btn btn-primary add-to-cart ttvproduct-add-to-cart" onclick="cart.add1('41');" title="" data-link-action="Add to Cart" data-toggle="ttvtooltip" data-placement="top" data-html="true" data-original-title="Add to Cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span class="ttvproduct-add-to-cart-label">Add to Cart</span></button></div>
                                                                                    <div class="ttvproduct-quick-btn quickview" data-quickviewid="41" title="" data-link-action="Quick View" data-toggle="ttvtooltip" data-placement="top" data-html="true" data-original-title="Quick View">
                                                                                        <div class="ttvproduct-quick-icon"><i class="fa fa-search search" aria-hidden="true"></i></div>
                                                                                        <div class="ttvproduct-quick-lable">Quick View</div>
                                                                                    </div>
                                                                                    <div class="ttvproduct-compare-btn"><button onclick="compare.add1('41');" class="btn btn-primary ttvproduct-compare" title="" data-link-action="Compare this Product" data-toggle="ttvtooltip" data-placement="top" data-html="true" data-original-title="Compare this Product"><i class="fa fa-exchange"></i><span class="ttvproduct-add-to-compare-label">Compare this Product</span></button></div>
                                                                                    <div class="ttvproduct-wishlist-btn"><button onclick="wishlist.add1('41');" class="btn btn-primary ttvproduct-wishlist" title="" data-link-action="Add to Wish List" data-toggle="ttvtooltip" data-placement="top" data-html="true" data-original-title="Add to Wish List"><i class="fa fa-heart"></i><span class="ttvproduct-add-to-wishlist-label">Add to Wish List</span></button></div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="product-description">
                                                                                <div class="ttvall-product-star-icon">
                                                                                    <div class="comments_note">
                                                                                        <div class="star_content">
                                                                                           @for (int i = 1; i <= item.Rating; i++)
                                                                                           {
                                                                                               <div class="star star_on"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                                           }
                                                                                           @for (int i = 1; i <= 5 - item.Rating; i++)
                                                                                           {
                                                                                               <div class="star"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                                           }
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="ttvproduct-name">
                                                                                    <div class="product-title">
                                                                                        <a asp-controller="product" asp-action="detail" asp-route-productId="@item.Id" asp-route-categoryId="@item.CategoryId">
                                                                                            <h6>@item.Name</h6>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="ttvproduct-name-price-wrapper">
                                                                                    <div class="product-price-and-shipping"><span class="price">@item.Price.ToString("C2", CultureInfo.CurrentCulture)</span><span class="regular-price">$240.00</span><span class="price-tax">Ex Tax:$80.00</span></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </article>
                                                            </div>

                                                        }
                                                    </div>
                                                </div>
                                                <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div>
                                                <div class="owl-dots disabled"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
