@using System.Globalization
@using eShopSolution.ViewModels.Catalog.Products
@model ProductViewModel

<div class="">
    <div id="product-product" class="container">
        <nav class="breadcrumb">
            <ol>
                <li><a asp-controller="home" asp-action="index"><span><i class="fa fa-home"></i></span></a></li>
                <li><a asp-controller="product" asp-action="detail" asp-route-id="@Model.Id"><span>@Model.Name</span></a></li>
            </ol>
        </nav>
        <div class="row">
            <div id="content" class="col-sm-12">
                <div id="main">
                    <div class="ttv-sub-pages-inner-content clearfix">
                        <div>
                            <div class="col-sm-6 ttvproduct-details-img-block">
                                <div class="thumbnails">
                                    <div>
                                        <a class="thumbnail" href="@Model.ImageUrl">
                                            <img id="img_zoom" src="@Model.ImageUrl" alt="Exercitat Virginia" data-zoom-image="@Model.ImageUrl">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 ttv-wrapper-info">
                                <h1 class="ttvproduct-title">@Model.Name</h1>
                                <div class="ttvall-product-star-icon">
                                    <div class="comments_note">
                                        <div class="star_content">
                                            <div class="star star_on"><i class="fa fa-star" aria-hidden="true"></i></div>
                                            <div class="star star_on"><i class="fa fa-star" aria-hidden="true"></i></div>
                                            <div class="star star_on"><i class="fa fa-star" aria-hidden="true"></i></div>
                                            <div class="star"><i class="fa fa-star" aria-hidden="true"></i></div>
                                            <div class="star"><i class="fa fa-star" aria-hidden="true"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ttv-review"><a href="" class="reviews_button" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;"><i class="fa fa-comment"></i>1 reviews </a>| <a href="" class="reviews_button" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;"><i class="fa fa-pencil"></i>Write a review</a></div>
                                <ul class="list-unstyled">
                                    <li><span class="ttv-product-label">Brands</span><a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=product/manufacturer/info&amp;manufacturer_id=5" class="ttvproduct-brand">HTC</a></li>
                                    <li><span class="ttv-product-label">Product Code:</span><span class="ttvproduct-model"> 4 </span></li>
                                    <li><span class="ttv-product-label">Reward Points:</span><span class="ttvproduct-reward"> 400 </span></li>
                                    <li><span class="ttv-product-label">Availability:</span><span class="ttvproduct-stock-status"> In Stock </span></li>
                                </ul>
                                <hr>
                                <ul class="list-unstyled product-price-and-shipping">
                                    <li>
                                        <h2 class="price">@Model.Price.ToString("C3", CultureInfo.CurrentCulture)</h2>
                                    </li>
                                    <li class="ttv-tax">Ex Tax: $310.00</li>
                                    <li class="ttv-point">Price in reward points: 200</li>
                                </ul>
                                <div id="product">
                                    <div class="form-group">
                                        <label class="control-label ttv-qty-label">Qty</label>
                                        <div class="ttv-product-cart-quentity-inner"><input type="text" class="ttvproduct-cart-quentity" id="cart_quantity28" name="quantity" value="1"><button class="ttvproduct-cart-quentity-decrement"><i class="fa fa-angle-down" aria-hidden="true"></i></button><button class="ttvproduct-cart-quentity-increment"><i class="fa fa-angle-up" aria-hidden="true"></i></button></div>
                                        <input type="hidden" name="product_id" value="28"><button type="button" id="button-cart" data-loading-text="Loading..." class="btn btn-primary btn-lg btn-block"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Add to Cart</button>
                                        <div class="btn-group ttvproduct-button-main"><button type="button" class="btn btn-default ttv-wishlist" title="" onclick="wishlist.add1('28');" data-link-action="Add to Wish List" data-toggle="ttvtooltip" data-placement="top" data-html="true" data-original-title="Add to Wish List"><i class="fa fa-heart"></i>Add to Wish List</button><button type="button" class="btn btn-default ttv-compare" title="" onclick="compare.add1('28');" data-link-action="Compare this Product" data-toggle="ttvtooltip" data-placement="top" data-html="true" data-original-title="Compare this Product"><i class="fa fa-exchange"></i>Compare this Product</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="producttab">
                            <ul class="nav nav-tabs ttvtabs">
                                <li class="active"><a href="#tab-description" data-toggle="tab">Description</a></li>
                                <li><a href="#tab-review" data-toggle="tab">Reviews (1)</a></li>
                            </ul>
                            <div class="tab-content ">
                                <div class="tab-pane active" id="tab-description">
                                    <p>
                                        @Model.Description
                                    </p>
                                </div>
                                <div class="tab-pane" id="tab-review">
                                    <form class="form-horizontal" id="form-review">
                                        <div id="review">
                                            <table class="table table-striped table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 50%;"><strong>Austin</strong></td>
                                                        <td class="text-right">16/03/2018</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            <p>The 30-inch Apple Cinema HD Display delivers an amazing 2560 x 1600 pixel resolution. Designed specifically for the creative professional, this display provides more space for easier access to all the tools and palettes needed to edit, format and composite your work. Combine this display with a Mac Pro, MacBook Pro, or PowerMac G5 and there's no limit to what you can achieve.</p>
                                                            <div class="ttvall-product-star-icon">
                                                                <div class="comments_note">
                                                                    <div class="star_content">
                                                                        <div class="star"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                        <div class="star"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                        <div class="star"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                        <div class="star"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                        <div class="star"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="text-right">
                                                <nav class="row pagination ttvcms-all-pagination">
                                                    <div class="col-md-12 ttv-pagination-number"></div>
                                                </nav>
                                            </div>
                                        </div>
                                        <h2 class="ttvpage-sub-title">Write a review</h2>
                                        <div class="form-group required">
                                            <div class="col-sm-12"><label class="control-label ttvpage-sub-label" for="input-name">Your Name</label><input type="text" name="name" value="" id="input-name" class="form-control"></div>
                                        </div>
                                        <div class="form-group required">
                                            <div class="col-sm-12">
                                                <label class="control-label ttvpage-sub-label" for="input-review">Your Review</label>
                                                <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                                                <div class="help-block"><span class="text-danger">Note:</span> HTML is not translated!</div>
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <div class="col-sm-12">
                                                <label class="control-label ttvpage-sub-label">Rating</label>
                                                &nbsp;&nbsp;&nbsp; Bad&nbsp;
                                                <input type="radio" name="rating" value="1"> &nbsp;
                                                <input type="radio" name="rating" value="2"> &nbsp;
                                                <input type="radio" name="rating" value="3"> &nbsp;
                                                <input type="radio" name="rating" value="4"> &nbsp;
                                                <input type="radio" name="rating" value="5"> &nbsp;Good
                                            </div>
                                        </div>
                                        <div class="buttons clearfix">
                                            <div class="pull-right"><button type="button" id="button-review" data-loading-text="Loading..." class="btn btn-primary">Continue</button></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
